*:focus {
    outline: none !important;
}

*::selection {
	background-color: tomato;
	color: hsl(124, 58%, 98%);
}

p {
	font-family: 'Heebo', sans-serif;	
}

em {
	text-align: center;
}

em::selection {
	background-color: #215C1E;
	color: hsla(41, 100%, 64%, 1);
}

.dark-mode .tool::selection {
	background-color: hsl(124, 58%, 98%);
	color: tomato;
}

.dark-mode em::selection {
	background-color: hsla(41, 100%, 64%, 1);
	color: #215C1E;
}

.justify-center {
	justify-content: center;
}

#App {
  background-color: hsl(124, 58%, 98%);
  color: hsl(121, 100%, 11.4%);
  width: 100%;
  transition: background-color 0.2s ease-in-out,
			  color 0.2s ease-in-out;
}

#App .header {
	padding: 20px;
	display: flex;
	justify-content: flex-end;
}

#App .header .dark-mode-button {
	background-color: #215C1E;
	padding: 5px;
	height: 50px;
	width: 50px;
	border-radius: 999px;
	border: 2px solid hsl(124, 58%, 98%);
	transition: background-color ease-in-out 0.2s, 
				box-shadow ease-in-out 0.1s;
}

#App .header .dark-mode-button:hover {
	background-color: #1F361C;
	cursor: pointer;
}

#App .header .dark-mode-button:focus {
	background-color: #1F361C;
	border: 2px solid hsl(124, 58%, 98%);
	box-shadow: 0px 0px 0px 4px #1F361C;
}

#App .header .dark-mode-button .moon {
	fill: hsla(41, 100%, 64%, 1);
	transition: fill ease-in-out 0.2s;
	height: 35px;
	width: 35px;
}
#App .header .dark-mode-button:hover .moon {
	fill: rgba(255, 171, 15, 1);
}
#App .header .dark-mode-button:focus .moon {
	fill: rgba(255, 171, 15, 1);
}

#App .description-container {
	width: 100%;	
	display: flex;
	justify-content: center;
}
#App .description-container .description {
	width: 70%;	
	font-size: 1.2em;
}

#App .description-container .description:first-child:first-letter {
	font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
	font-size: 4em;
	padding: 0px 15px;
	border-top: 4px solid tomato;
	border-left: 4px solid tomato;
	line-height: 1em;
}

#App #skills-container {
	display: flex;
	flex-direction: column;
	margin: 2em;
}

#App #skills-container .row {
	display: flex;
}

#App #skills-container .row h4 {
	padding-left: 0.55em;
	font-weight: 500;
	margin: 0.75em 0;
}
#App #skills-container .row em {
	background-color: tomato;
	color:hsl(124, 58%, 98%);
	margin-bottom: 1em;
}

#App #skills-container .row .column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 33%;
	padding: 0 1em;
	margin: 0 0 1em 0;
}

#App #skills-container .row .column .tool-container {
	display: flex;
	flex-wrap: wrap;
}

#App #skills-container .row .column .tool-container .tool {
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 5px 15px;
	color: hsl(124, 58%, 98%);
	background-color: #215C1E;
	border-radius: 999px;
	margin: 0.5rem;
	transition: ease-in-out background-color 0.2s;
	font-weight: 600;
}
#App #skills-container .row .column .tool-container .tool:hover {
	background-color: hsl(121, 100%, 11.4%);
}

#App.dark-mode {
	background-color: hsl(121, 100%, 11.4%) !important;
	color: hsl(124, 58%, 98%) !important;
}

#App.dark-mode .header .dark-mode-button {
	background-color: hsla(41, 100%, 64%, 1);
	padding: 5px;
	border-radius: 999px;
}

#App.dark-mode .header .dark-mode-button:hover {
	background-color: rgba(255, 171, 15, 1);
}

#App.dark-mode .header .dark-mode-button:focus {
	background-color: rgba(255, 171, 15, 1);
	border: 2px solid hsl(124, 58%, 98%);
	box-shadow: 0px 0px 0px 4px rgba(255, 171, 15, 1);
}

#App.dark-mode .header .dark-mode-button .moon {
	fill: whitesmoke;
}

#App.dark-mode #skills-container .row .column .tool-container .tool {
	color: hsl(124, 58%, 98%);
	background-color: rgba(255, 171, 15, 1);
}
#App.dark-mode #skills-container .row .column .tool-container .tool:hover {
	background-color: rgb(255, 131, 15);
}

#App .footer {
	padding: 1.5em;
	display: flex;
	justify-content: flex-end;
}

#App .footer .block {
	height: 4em;
	width: 4em;
	margin-right: 15%;
	border-bottom: 4px solid tomato;
	border-right: 4px solid tomato;
}

@media screen and (max-width: 767px) {
	#App .description-container .description {
		width: 100%;	
		padding: 1em;
		font-size: 1.2em;
		line-height: 2em;
	}
	
	#App .description-container .description:first-child:first-letter {
		font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
		font-size: 3.25em;
		padding: 0px 15px;
		border-top: 4px solid tomato;
		border-left: 4px solid tomato;
		line-height: 1em;
	}
	
	#App #skills-container {
		margin: 2em 1em;
	}
	
	#App #skills-container .row {
		flex-direction: column;
	}
	
	#App #skills-container .row .column {
		width: 100%;
		padding: 0;
	}
	
	#App .footer .block {
		height: 3em;
		width: 3em;
		margin-right: 0;
	}
}
